.con_fluid{
  padding: 0%;
  height: 60px;
  /* width: 100%; */
  /* position: fixed; */
  background: rgba(14, 45, 47, 0.85);
}
.div_for_logo{
  height: 35px;width: 35px;
  background: rgba(234, 250, 255, 1);
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px #D4F3F5;
  padding-top: 2px;
  padding-left: 2px;
}
.div_for_logo img{
  height: 30px;
  width: 30px;
}
.div_user img{
  height:35px;
}
.div_user span{
  color: #D4F3F5;
  font-size: 16px;
  margin-left: 5px;
  font-family: Poppins;
}
.div_user hr{
  color: #D4F3F5; width: 78%;
  height: 1px;margin-top: -1px;margin-left: 50px;
}

@media  (max-width:440px) {
  .div_user span{
    display: none;
  }
  .div_user hr{
    display: none;
  }
}
