<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p class="side_nav_heading">Asset<br/>Management</p>

    <div class="text-center" style="margin-top: 30px;overflow-x: hidden; height: 400px;">

      <!----------------------->
    <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" class="materail_expansion_panel" >

      <mat-expansion-panel-header appearance="legacy"  class="sidebar_list" >
          <mat-panel-title>
            Asset
          </mat-panel-title>
      </mat-expansion-panel-header>

          <p>Vehicle</p>
          <p>Land and Building</p>
          <p>Tools and tackles</p>
          <p>Dashboard</p>
          <p>Financial Asset</p>
    </mat-expansion-panel>

      <!----------------------->
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" class="materail_expansion_panel" >

      <mat-expansion-panel-header appearance="legacy"  class="sidebar_list" >
          <mat-panel-title>
            Asset
          </mat-panel-title>
      </mat-expansion-panel-header>

          <p>Vehicle</p>
          <p>Land and Building</p>
          <p>Tools and tackles</p>
          <p>Dashboard</p>
          <p>Financial Asset</p>
      </mat-expansion-panel>

      <!----------------------->
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" class="materail_expansion_panel" >

      <mat-expansion-panel-header appearance="legacy"  class="sidebar_list" >
          <mat-panel-title>
            Asset
          </mat-panel-title>
      </mat-expansion-panel-header>

          <p>Vehicle</p>
          <p>Land and Building</p>
          <p>Tools and tackles</p>
          <p>Dashboard</p>
          <p>Financial Asset</p>
      </mat-expansion-panel>
     </div>


      <div style="margin-top: 5px;">
        <p style="color:#ffffff;text-align:center;font-size: 12px;">Copyright © 2021 <br/>All rights reserved by <br/><a href="https://www.phenx.io/" style="color: #ffffff;">Phenx.io</a></p>
      </div>


  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon aria-hidden="false" aria-label="material-icons-two-tone">
        menu
      </mat-icon>
    </button>
    <app-list-view></app-list-view>

  </div>

</mat-drawer-container>
