<div class="container-fluid container_fluid">
    <div class="d-flex justify-content-between">
        <div class="col-lg-6 col-md-6 col-sm-2">
            <img src="./../../assets/image/logo.png" class="company_logo" />
        </div>
        <div class="col-lg-1 col-md-1 col-sm-auto align-self-center">
            <img src="./../../assets/image/user3.png" class="icon_user" />
        </div>
        <div class="col-lg-1 col-sm-auto align-self-center">
            <img src="./../../assets/image/notification.png" class="icon_notification" />
            <img src="./../../assets/image/circle.png" class="icon_circle" />
        </div>
        <div class="col-lg-1 col-sm-auto align-self-center">
            <img src="./../../assets/image/chat.png" class="icon_chat" style="height:20px;width:20px;" />
            <img src="./../../assets/image/circle.png" class="icon_circle" />
        </div>
        <div class="col-lg-3 col-sm-3 text-end align-self-center">
            <img src="./../../assets/image/user2.png" class="icon_profile" />
            <span class="profile_name">Prasad Ban...</span>
        </div>
    </div>

    <div class="row" style="margin: 0px;">
        <div class="col-lg-7 col-md-7 col-sm-6">

            <div class="d-flex">
                <div class="col-lg-4 col_owl_cmms">
                    <h1 class="text_owl">
                        OWL
                    </h1>
                    <h1 class="text_cmms">
                        CMMS
                    </h1>
                </div>
                <div class="col-lg-4">
                    <div class="row text-center row_for_circle">

                        <div class="col-auto div_circle1"></div>
                        <div class="col-auto div_circle2"></div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-6" style="margin: 0%;padding: 0%;">
                    <div class="div_welcome_box">
                        <p class="paragraph_welcome">
                            <!-- color: #7AEAF1 -->
                            <span style="color: #FAEC68;">Welcome</span> Mr. Prasad Bandyopadhyay.
                        </p>

                        <div class="color_div1 text-center">
                            <span>Click to see the details on XYZ warrenty</span>
                        </div>

                        <div class="color_div2 text-center">
                            Click to see the detalis on ABC
                        </div>

                        <div class="color_div3 text-center">
                            Click to see the detalis on ABC
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 align-self-center col_for_button">

            <div class="d-flex justify-content-between">
                <div>
                    <button class="button_management" style="background: #1F5C60;">Asset Management</button>

                    <button class="button_management" style="background: #F87070;">Task Management</button>

                    <button class="button_management" style="background: rgba(148, 148, 150, 10.85);">Vendor
          Management</button>
                </div>

                <div>
                    <button class="button_management" style="background: #F87070;">
            Preventive Maintenance
          </button>

                    <button class="button_management" style="background: rgba(148, 148, 150, 10.85);">
            Inventory Control
          </button>

                    <button class="button_management" style="background: #1F5C60;">
            Task Management
          </button>

                </div>
            </div>


        </div>
        <!-- <div class="col"></div> -->
    </div>

    <div class="row" style="margin: 0%;">
        <img src="./../../assets/image/footer_art2.png" class="footer_art" />
    </div>
</div>
